# 1] What is a database? Differentiate between SQL and NoSQL databases.

### => A database is a collection of structured data that can be stored, managed, and accessed efficiently. It can be thought of as a digital filing cabinet where information can be stored and retrieved quickly. Databases are used in a wide range of applications, including business, finance, healthcare, e-commerce, and social media.

### => SQL databases are relational databases that store data in tables with predefined relationships, while NoSQL databases store data in a non-tabular format.
### => SQL databases use SQL to manipulate and query data, while NoSQL databases use various languages, such as JavaScript and JSON.
### => SQL databases are best suited for complex queries and transactions, while NoSQL databases are designed for high performance and scalability.

# 2] What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

### => In MySQL, DDL stands for "Data Definition Language" and refers to a set of SQL commands used to define the structure of a database and its objects such as tables, views, indexes, and stored procedures.

# CREATE: 
### => CREATE is used to create new database objects such as tables, indexes, or views. Here's an example of using the CREATE command to create a new table in a MySQL database:

# DROP:
### => DROP is used to remove database objects such as tables, indexes, or views. Here's an example of using the DROP command to remove the "users" table from the MySQL database:


## ALTER:
### => ALTER is used to modify the structure of an existing database object such as a table. Here's an example of using the ALTER command to add a new column named "phone" to the "users" table:

## TRUNCATE:
### => TRUNCATE is used to remove all data from a table, but it does not remove the table structure itself. Here's an example of using the TRUNCATE command to remove all data from the "users" table:

### CREATE TABLE users (
  ### id INT PRIMARY KEY,
  ### name VARCHAR(50),
  ### email VARCHAR(50)
### );
### 
### DROP TABLE users;
### 
### ALTER TABLE users
### ADD COLUMN phone VARCHAR(20);
### 
### TRUNCATE TABLE users;

# 3] What is DML? Explain INSERT, UPDATE, and DELETE with an example.

### => DML stands for Data Manipulation Language, and it refers to a set of SQL statements that are used to manipulate data within a MySQL database. DML commands allow you to retrieve, insert, update, and delete data from tables in the database.

## INSERT:
### =>This statement is used to insert new data into a table. For example, the following statement inserts a new row into the "users" table:

## UPDATE:
### => This statement is used to update existing data in a table. For example, the following statement updates the email address of the user with an id of 1 in the "users" table:

## DELETE:
### => This statement is used to delete data from a table. For example, the following statement deletes the row with an id of 2 from the "users" table:

## INSERT INTO users (name, email) VALUES ('bhagat singh', 'xyz@gmail.com');
## 
## UPDATE users SET email = 'inquilabzindabad@freedom.com' WHERE id = 1;
## 
## DELETE FROM users WHERE id = 2;

# 4] What is DQL? Explain SELECT with an example.

### => DQL stands for Data Query Language, and it refers to the subset of SQL statements that are used to retrieve data from a MySQL database. In other words, DQL commands allow you to query and retrieve data from one or more tables in a MySQL database.

## SELECT * FROM users;
## 
## SELECT email FROM users WHERE name ="bhagat singh";

# 5] Explain Primary Key and Foreign Key.

## Primary key
### => In MySQL, a primary key is a column or set of columns in a table that uniquely identifies each row in the table. Primary keys ensure that each row in a table is unique and can be identified with a unique value or combination of values.
### => We use primary key in attribute where the value must be unique as well as not null.
### => In above example of CREATE the column named id is one of the example of primary key.

## Foreign key
### => In MySQL, a foreign key is a column or set of columns in a table that refers to the primary key of another table. Foreign keys create a relationship between two tables, allowing you to enforce referential integrity between them.
### => The table with the foreign key is called the child table, and the table with the primary key is called the referenced or parent table.

# 6] Write a python code to connect MySQL to python. Explain the cursor() and execute() method.


 ## import mysql.connector

 ##  
 ## cnx = mysql.connector.connect(
   ## host='localhost',
   ## user='your_username',
   ## password='your_password',
   ## database='your_database'
 ## )

## cursor()
### => In MySQL and other database management systems, a cursor is a mechanism that enables the traversal of the records in a result set. In Python, the 'cursor()' method is used to create a cursor object that can be used to execute SQL statements and traverse the results.

## execute()
### => In MySQL and other database management systems, the 'execute()' method is used to execute SQL statements and perform database operations. In Python, the 'execute()' method is a method of the cursor object that is created using the 'cursor()' method of a MySQL connector object.

# 7] Give the order of execution of SQL clauses in an SQL query.

## 1) FROM/JOIN: 
### =>The FROM and/or JOIN clauses are executed first to determine the data of interest.

## 2) WHERE:
### => The WHERE clause is executed to filter out records that do not meet the constraints.

## 3) GROUP BY:
### => The GROUP BY clause is executed to group the data based on the values in one or more columns.

## 4) HAVING:
### => The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

## 5) SELECT:
### => The SELECT clause is executed to derive all desired columns and expressions.

## 6) ORDER BY:
### => The ORDER BY clause is executed to sort the derived values in ascending or descending order.

## 7) LIMIT/OFFSET:
### => Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.