# 1] Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose you have collected data on the amount of time students spend studying for an exam and their final exam scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [1]:
import pandas as pd
df=pd.DataFrame({
     "hours":[5,8,4,7,6],
     "score":[80,97,79,85,82]
})
df.corr()

          hours     score
hours  1.000000  0.887954
score  0.887954  1.000000

### => the amount of time students spend studying for an exam and their final exam scores are highly positive correlated

# 2] Spearman's rank correlation is a measure of the monotonic relationship between two variables. Suppose you have collected data on the amount of sleep individuals get each night and their overall job satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two variables and interpret the result.

In [2]:
df=pd.DataFrame({
     "sleep_hours":[5,8,4,7,6],
     "job_satisfaction":[6.9,9,6,8.5,8]
})
df.corr()

                  sleep_hours  job_satisfaction
sleep_hours          1.000000          0.985435
job_satisfaction     0.985435          1.000000

### => there will be very high satisfaction with job who have more no. of sleeping hours.

# 3] Suppose you are conducting a study to examine the relationship between the number of hours of exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation between these two variables and compare the results.

In [3]:
df=pd.read_csv("untitled.csv")
df.corr()

                   Participant  Hours of Exercise       BMI
Participant           1.000000          -0.079954  0.042705
Hours of Exercise    -0.079954           1.000000 -0.945410
BMI                   0.042705          -0.945410  1.000000

In [4]:
df.corr("spearman")

                   Participant  Hours of Exercise       BMI
Participant           1.000000          -0.053801  0.043504
Hours of Exercise    -0.053801           1.000000 -0.941932
BMI                   0.043504          -0.941932  1.000000

# 4] A researcher is interested in examining the relationship between the number of hours individuals spend watching television per day and their level of physical activity. The researcher collected data on both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between these two variables.

In [5]:
df=pd.read_csv("TV.csv")
df.corr()

,Participant,Hours of TV per day,Physical Activity (hours per week)
Participant,1.000000,0.068302,-0.068302
Hours of TV per day,0.068302,1.000000,-1.000000
Physical Activity (hours per week),-0.068302,-1.000000,1.000000

In [6]:
df.corr("spearman")

,Participant,Hours of TV per day,Physical Activity (hours per week)
Participant,1.000000,0.069448,-0.069448
Hours of TV per day,0.069448,1.000000,-1.000000
Physical Activity (hours per week),-0.069448,-1.000000,1.000000

# 5] A survey was conducted to examine the relationship between age and preference for a particular brand of soft drink. The survey results are shown below:

### Age(Years) || Soft drink Preference

### 25 || Coke

### 42 || Pepsi

### 37 ||Mountain dew

### 19 || Coke

### 31 || Pepsi

### 28 || Coke

In [7]:
df=pd.DataFrame({
    "age":[25,42,37,19,31,28],
    "soft drink Preference":["Coke","Pepsi","Mountain dew","Coke","Pepsi","Coke"]
})

In [8]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()

In [9]:
encoded=encoder.fit_transform(df[["soft drink Preference"]]).toarray()

In [10]:
print(encoded)

[[1. 0. 0.]
 [0. 0. 1.]
 [0. 1. 0.]
 [1. 0. 0.]
 [0. 0. 1.]
 [1. 0. 0.]]

# 6] A company is interested in examining the relationship between the number of sales calls made per day and the number of sales made per week. The company collected data on both variables from a sample of 30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [11]:
df=pd.read_csv("sales.csv")
df.corr()

                     sales_calls_per_day  sales_made_per_week
sales_calls_per_day             1.000000             0.982975
sales_made_per_week             0.982975             1.000000