#  Consider following code to answer further questions:

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name': course_name, 'duration' : duration})

# 1] Write a code to print the data present in the second row of the dataframe, df.

In [2]:
df[1:2]

        course_name  duration
1  Machine Learning         3

# 2] What is the difference between the functions loc and iloc in pandas.DataFrame?

### => loc uses label-based indexing, which means that you use the actual row and column labels to select the data
### 
### => iloc uses integer-based indexing, which means that you use the integer position of the rows and columns to select the data.

# 3] Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].
# Did you observe any difference in both the outputs? If so then explain it.

In [3]:
df.reindex(index=[3,0,1,2])

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [4]:
df.iloc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [5]:
df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

# Consider the below code to answer further questions:

In [6]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

# 4] Write a code to find the following statistical measurements for the above dataframe df1:
## 1) mean of each and every column present in the dataframe.
## 2) standard deviation of column, ‘column_2’

In [7]:
df1.mean()

column_1    0.610782
column_2    0.421978
column_3    0.367908
column_4    0.618801
column_5    0.672281
column_6    0.326588
dtype: float64

In [8]:
df1["column_2"].mean()

0.42197777823464144

# 5] Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
# If you are getting errors in executing it then explain why.
# [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [9]:
mask = df1['column_2'].notnull()
df1.loc[mask, 'column_2'] = np.where(mask, 'Jai Hind', df1['column_2'])
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.331996  Jai Hind  0.042803  0.887425  0.393389  0.245831
2  0.717870  Jai Hind  0.841950  0.826861  0.812798  0.764075
3  0.361372  Jai Hind  0.373659  0.843224  0.757683  0.343573
4  0.886064  Jai Hind  0.667646  0.676735  0.820681  0.206962
5  0.518832  Jai Hind  0.085085  0.190786  0.615986  0.036154
6  0.848557  Jai Hind  0.196306  0.287776  0.633150  0.362934

In [10]:
df1["column_2"].mean()

TypeError: Could not convert Jai HindJai HindJai HindJai HindJai HindJai Hind to numeric

### => it can not possible to convert string to numeric for computing average.

In [11]:
mask1 = df1['column_2'].notnull()
df1.loc[mask1, 'column_2'] = np.where(mask1, '29', df1['column_2'])
df1

   column_1 column_2  column_3  column_4  column_5  column_6
1  0.331996       29  0.042803  0.887425  0.393389  0.245831
2  0.717870       29  0.841950  0.826861  0.812798  0.764075
3  0.361372       29  0.373659  0.843224  0.757683  0.343573
4  0.886064       29  0.667646  0.676735  0.820681  0.206962
5  0.518832       29  0.085085  0.190786  0.615986  0.036154
6  0.848557       29  0.196306  0.287776  0.633150  0.362934

In [12]:
df1["column_2"].mean()

48821548821.5

### => but it can be possible to convert such kind of string to numeric

# 6] What do you understand about the windows function in pandas and list the types of windows functions?

### => In pandas, a window function is a function that performs a calculation across a set of rows that are related to the current row. Window functions are typically used in combination with the 'groupby' method and are useful for tasks such as calculating rolling averages or cumulative sums.
### 
## 1) rolling:
### => The 'rolling' function creates a rolling window of a specified size and applies a function to the window. For example, 'df.rolling(window=7).mean()' calculates the rolling average of a DataFrame 'df' over a window of size 7.
## 2) cumsum: 
### => The 'cumsum' function calculates the cumulative sum of a DataFrame or Series. For example, 'df.cumsum()' calculates the cumulative sum of a DataFrame 'df'.
## 3) ewm: 
### => The 'ewm' function calculates the exponential weighted moving average of a DataFrame. This function is useful for giving more weight to recent values in the DataFrame. For example, 'df.ewm(span=3).mean()' calculates the exponential weighted moving average of a DataFrame 'df' over a span of 3 periods.

# 7] Write a code to print only the current month and year at the time of answering this question.
# [Hint: Use pandas.datetime function]

In [13]:
import datetime

now = datetime.datetime.now()
current_month = now.strftime("%B")
current_year = now.strftime("%Y")

print(current_month)
print(current_year)

March
2023

# 8] Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [14]:
date1=input()
date1=pd.to_datetime(date1)
date2=input()
date2=pd.to_datetime(date2)
ans=date2-date1
print(ans)

2022-2-23
2022-3-12
17 days 00:00:00

# 9] Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:
path9=input()
df9 = pd.read_csv("path9")
col_name = input("Enter column name to convert to categorical: ")
cat_order = input("Enter category order (space-separated): ").split(" ")
df9[col_name] = pd.Categorical(df9[col_name], categories=cat_order)
sorted_df = df9.sort_values(by=[col_name])

print(sorted_df)

# 10] Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
path10=input()
df10=pd.read_csv(path10)
df10.plot(kind='bar', stacked=True)

# 11] You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.
# The program should do the following:
## Prompt the user to enter the file path of the CSV file containing the student dataR
## I Read the CSV file into a Pandas DataFrameR
## I Calculate the mean, median, and mode of the test scores using Pandas toolsR
## I Display the mean, median, and mode in a table.

# Assume the CSV file contains the following columns:
## I Student ID: The ID of the student.
## I Test Score: The score of the student's test.

# The program should calculate the mean, median, and mode of the test scores and display the results in a table.

In [ ]:
df12=pd.read_csv("Book1.csv")
df12

In [ ]:
dic={"Statistic":["mean","median","mode"],"Value":[df12["Test Score"].mean(),df12["Test Score"].median(),df12["Test Score"].mode()]}
df12_ans=pd.DataFrame(dic)
df12_ans